/* Variables de colores para el modo claro */
:root {
    --background-color: #e0e0e0;
    --text-color: #333;
}

/* Variables de colores para el modo oscuro */
.dark-mode {
    --background-color: #333;
    --text-color: #e0e0e0;
}

/* Estilos generales que utilizan las variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos del botón de alternancia */
#toggle-button {
    margin: 20px;
    color:red;
}
.error-message{
    color: #721c24; /* Text color */
    background-color: #f8d7da; /* Background color */
    border: 1px solid #f5c6cb; /* Border color */
    padding: 0.75rem 1.25rem; /* Padding around content */
    border-radius: 0.25rem; /* Rounded corners */
    margin-bottom: 1rem; /* Spacing at the bottom */
    line-height: 1.5;
}