 <div>
    <h1>Factor de ruido</h1>
    <label>
       Ingrese la potencia de la señal de entrada en Watts:
       <input type="text" name="señali" id="señali">
    </label>
    <label>
       Ingrese la potencia de la señal de ruido de entrada en Watts:
       <input type="text" name="ruidoi" id="ruidoi">
    </label>
    <label>
       Ingrese la potencia de la señal de salida en Watts:
       <input type="text" name="señalo" id="señalo">
    </label>
    <label>
       Ingrese la potencia de la señal de ruido de salida en Watts:
       <input type="text" name="ruidoo" id="ruidoo">
    </label>
    <p>El factor de ruido es: <span id="resultado"></span></p>
    <button class="calc" id="calc">Calcular</button>
 </div>
 <div style="padding-top: 30px;">
    <h1>Índice de ruido</h1>
    <label>
       Ingrese el factor de ruido
       <input type="text" name="factor-ruido" id="factor-ruido">
    </label>
    <p>El índice de ruido es: <span id="indice"></span></p>
    <button id="calcIndice" class="calc">Calcular</button>
 </div>